    
<footer class="page-footer  text-center text-md-left pt-4 mt-4" style="background-color: #3F51B5" >
<!-- <footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4" > -->

    <!--Footer Links-->
    <div class="container" >
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <h5 class="title">Footer Content </h5>
                <p style="color: white;">Thank you for visiting us.</p>
            </div>
            <!--/.First column-->

            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-2">
                <h5 class="title">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action text-center py-3">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <h5>Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="" class="btn btn-danger waves-light btn-rounded" mdbWavesEffect>Sign up!</a>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Social buttons-->
    <div class="text-center mb-3">

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2017 Copyright:
            <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
